apiVersion: v2
type: application
name: kyverno
version: 3.7.0-bb.1
appVersion: v1.17.0
icon: https://github.com/kyverno/kyverno/raw/main/img/logo.png
description: Kubernetes Native Policy Management
keywords:
  - kubernetes
  - nirmata
  - policy agent
  - policy
  - validating webhook
  - admission controller
  - mutation
  - mutate
  - validate
  - generate
  - supply chain
  - security
home: https://kyverno.io/
sources:
  - https://github.com/kyverno/kyverno
maintainers:
  - name: Nirmata
    url: https://kyverno.io/
kubeVersion: ">=1.25.0-0"
annotations:
  bigbang.dev/upstreamReleaseNotesMarkdown: |
      - [Find our upstream chart's CHANGELOG here](https://github.com/kyverno/kyverno/blob/main/CHANGELOG.md)
      - [and our upstream application release notes here](https://github.com/kyverno/kyverno/releases)
  bigbang.dev/maintenanceTrack: bb_integrated
  bigbang.dev/applicationVersions: |
    - Kyverno: v1.17.0
  # Kubectl image is used if webhooksCleanup.enable or bbtests.enabled
  helm.sh/images: |
    - name: kyverno
      image: registry1.dso.mil/ironbank/opensource/kyverno:v1.17.0
    - name: kyvernopre
      image: registry1.dso.mil/ironbank/opensource/kyverno/kyvernopre:v1.17.0
    - name: kubectl
      image: registry1.dso.mil/ironbank/opensource/kubernetes/kubectl:v1.34.3
    - name: reports-controller
      image: registry1.dso.mil/ironbank/opensource/kyverno/kyverno/reports-controller:v1.17.0
    - name: background-controller
      image: registry1.dso.mil/ironbank/opensource/kyverno/kyverno/background-controller:v1.17.0
    - name: cleanup-controller
      image: registry1.dso.mil/ironbank/opensource/kyverno/kyverno/cleanup-controller:v1.17.0
    - name: kyvernocli
      image: registry1.dso.mil/ironbank/opensource/kyverno/kyvernocli:v1.17.0
    - name: busybox
      image: registry1.dso.mil/ironbank/frontiertechnology/cortex/busybox:v1.37.0
  artifacthub.io/operator: "false"
  artifacthub.io/prerelease: "false"
  artifacthub.io/links: |
    - name: Documentation
      url: https://kyverno.io/docs
  # valid kinds are: added, changed, deprecated, removed, fixed and security
  artifacthub.io/changes: |
    - kind: fixed
      description: fix validation error in validate.yaml
    - kind: fixed
      description: fixed global image registry config by introducing *.image.defaultRegistry.
dependencies:
  - name: kyverno
    version: 3.7.0
    repository: https://kyverno.github.io/kyverno/
    alias: "upstream"
  - name: gluon
    version: 0.9.7
    repository: oci://registry1.dso.mil/bigbang
  - name: bb-common
    version: 0.14.0
    repository: "oci://registry1.dso.mil/bigbang"
